@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=PT+Sans:wght@400;700&family=Patrick+Hand&display=swap');.nav-container{
    width:100%;
    background-color:white;

}

.navbar{
    display:grid;
    /* grid-template-columns: 0.2fr auto 1fr; */
    align-items:center;
    height:200px;
    width:100%;
    /* max-width:1720px; */
    margin: 0 auto;
}

nav{
    background-color:white;
    
}

#nav-wrapper img{
    padding-top:40px;
    margin-left:15em;
    width: 180px;
}

#nav-wrapper{
    color:white;
    background-color:white;

}

#navbar-logo{
    font-style: normal;
    background: -webkit-repeating-linear-gradient(45deg,#092E0C, #7AF586);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    position: absolute;
    /* width: 580px; */
    height: 83px;
    padding-left: 10px;
    margin-top:0.1em;
    top: 50px;
    font-size: 60px;
    line-height: 83px;
    z-index:0;
    /* margin-left:6.5em; */
}

#navbar-logo{
    cursor:pointer;
}

#explanation{
    position: absolute;
    width: 605px;
    height: 14px;
    padding-top: 11em;
    padding-left:5px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
}

#selected a{
    color: #092E0C !important;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
} 


.nav-links{
    color:#22832C;
    background-color:white;
    line-height: 200px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    text-decoration:none;
}

.nav-links:hover{
    color:#092E0C;
    transition: all 0.2s ease-out;
    background-color:white;
}

.menu-toggle .bar{
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background:#22832C;
}

/* https://cssgradient.io/blog/css-gradient-text/ */
.sub-titles{
    background: -webkit-repeating-linear-gradient(45deg,#092E0C, #7AF586);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */

    letter-spacing: 0.05em;

}

#sidebar h3 {
    font-size: 1.15em;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    font-weight: bold;
}

.sidebar-images{
    padding-right:10px;
}

iframe {
    display: block;
    margin: auto;
    width:100%;
}


#hours {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #000000;
}

.open {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}

.page-footer {
    clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
    margin: 0;
    padding: 3em;
    color: #ffff;
    
    font-size: .813em;
    text-align: center;
    border-top: 1px dotted #cccccc;
    background-color:#064B0D;
    line-height: 40px;
}

#copyright{
        font-variant: small-caps; 
    }


    .highlight{
        background-color: #064B0D;
        color: #ffff;
        text-align: center;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
    }


    .general-fee td {
        text-align: center;
        border-right: solid 1px #cccccc; 
        border-left: solid 1px #cccccc;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.1em;
    
    }

    .general-fee th{
        text-align: center;
        border-left: solid 1px #cccccc;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        width: 250px;
    }

    /* https://www.w3schools.com/howto/howto_js_slideshow.asp */
    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    .mySlides img{
        width:100%;
    }

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    .tourInformation{
        text-align: center;
    }

    #tourInfoIntro{
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    /* https://cssgradient.io/blog/css-gradient-text/ */
    .tabs li{
        background: -webkit-repeating-linear-gradient(45deg,#092E0C, #7AF586);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 120px;
        line-height: 31px;
        /* identical to box height */
        letter-spacing: 0.1em;
    }

    .tour{
        background: #064B0D;
        padding: 2em 1em 1em 1.5em;
    }

    .tour a{
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        /* identical to box height */

        letter-spacing: 0.13em;
        text-transform: uppercase;

        color: #F7FFD9;


    }

    .tourImages{
        padding: 0px; margin: 0px
    }

    .tourImages img{
        width:100%;
        height:100%;
        display: block;
        vertical-align: bottom;
    }

    .tour li{
        font-family: Helvetica;
        font-style: normal;
        font-weight: lighter;
        font-size: 12px;
        line-height: 25px;
        text-align:left;
        color: #F7FFD9;
    }

    .contactTable{
        font-family: Helvetica;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;

        color: #000000;
    }

    .contactTable td{
        text-align:center;
    }

    form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #064B0D;
        padding: 10px;
    }

    legend{
        font-weight: bold;
        text-align: center;
        color: #666666;
        margin-bottom: 5px;
    }

    label{
        font-weight: bold;
        text-align: center;
    }

    .required{
        color:#FF0000
    }

    #requiredField{
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    .contactForm{
        font-size: 14px;
    }

    .earlyHistory{
        background: -webkit-repeating-linear-gradient(45deg,#092E0C, #7AF586);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.13em;
    }

    .introduction{
        font-family: Helvetica;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
    }

    .caption{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #818080;
    }



    #accordion{
        text-align:left;
        color:#22832C;
    }



    .ui-state-default{
        border: 1px solid #cccccc;
        font-weight: bold;
        color: #064B0D;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        padding: 4em;
        background-color:#EDEDED;
    }

    .ui-state-active{
        border: 1px solid #22832C;
        color: #22832C;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        background-color:#F7FFD9;
    }
        
    .ui-state-hover{
        background-color:#ecf9ba;
        border: 1px solid #064B0D;
    }

    .answers{
        font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    background-color:#ffff;
    }

    #grouptourBold{
        font-weight:bold;
    }

    #fieldTripBold{
        font-weight:bold;
    }

    #patchProgram{
        font-weight:bold;
    }

    .youtube-video{
        width:100%; 
        height:500px;
    }

    .imageCollection{
        width:100%; 
        height:350px;
    }


@media screen and (max-width:600px){
    #navbar-logo{
        font-size:45px;
    }

    .highlight{
        font-size: 16px;
    }

    .tourImages img{
        width:200px !important;
        height:150px !important;
        display: block;
        vertical-align: bottom;
    }
}

@media screen and (max-width:840px){
    .imageCollection{
        height:200px;
    }
    #nav-wrapper img{
        display:none;
    }

    #navbar-logo{
        margin-left:0.8em !important;
    }

    #explanation{
        display:none;
    }

    .sub-titles{
        font-size: 30px;
        line-height:40px;
    }

    .earlyHistory{
        font-size:35px;
        line-height:40px;
    }

    .clickTabs{
        display:none;
    }

    .youtube-video{
        margin-top:-5em;
        margin-bottom:-5em;
    }

    .tourImages img{
        width:250px;
        height:180px;
        display: block;
        vertical-align: bottom;
        margin-right:auto !important;
        margin-left:auto !important;
    }
}

/*
    Desktop width: 751px ~ 1280px
*/

@media screen and (max-width:1279px){
    .nav-container{
        position:relative;
    }

    #nav-mobile{
        display:grid !important;
        grid-template-columns: auto;
        background:#092E0C;
        margin:0;
        width:100%;
        position:absolute;
        top:200px;
        left:-100%;
        opacity:0;
        transition:all 0.5s ease;
    }

    #nav-moble li a{
        color:white;
    }

    /* #navbar-logo{
        margin-left:3.5em;
    } */

    #nav-wrapper img{
        margin-left:3em;
    }

    #nav-mobile.active{
        background:white;
        left:0;
        opacity: 100%;
        transition: all 0.5s ease;
        z-index:1;
    }

    .container{
        z-index:222;
        /* margin-left:2em;
        width:60%; */
    }

    .nav-links{
        text-align:center;
        line-height:60px;
        width:100%;
        display:table;
    }

    .nav-links:hover{
        background-color: #092E0C;
        color:white;
        transition: all 0.4s ease-out;
    }

    .navbar{
        width:100%;
    }

    .nav-links-btn{ 
        border:none;
        padding:0;
        border-radius:0;
        background-color:white;
        color:white;
        transition:all 0.4s ease-out;
    }

    .nav-links-btn:hover{
        border:none;
        padding:0;
        border-radius:0;
        background-color:#22832C;
        color:white;
        transition:all 0.4s ease-out;
    }

    #mobile-menu{
        position:absolute;
        top:35%;
        right:5%;
        transform:translate(5%, 20%);
    }

    .menu-toggle .bar{
        display:block;
        cursor:pointer;
    }

    .menu-toggle:hover{
        cursor:pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0; 
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg); 
    }

    #sidebar{
        display:none;
    }

    .blank-space{
        height:50px;
    }

    #duquesneTour td{
        width:300px;
    }
}

/* 
    Desktop width: 1280px ~ 1600px
*/
@media screen and (min-width:1280px){
    .card{
        width:90%;
        margin-left:20px;
    }

    .container{
        width: 70% !important;
        float: left;
        width: 70%;
        margin: 0;
        padding: 3em 1em 3em 3em;
        /* border-right: 1px dotted #ccc; */
    }

    #sidebar-height-adjust{
        height:800px;
    }

    #sidebar {
        color: #000000;
        float: left;
        padding: 2em 0em 4em 1em;
        /* margin-right:em; */
        /* margin-left:-4em; */
        font-size: .875em;	
        border-left: 1px dotted #ccc;
    }

    #duquesneTour{
        width: 80%;
        padding: 1em 0 1em 0;
        border-spacing: 0px;
        margin-left:9em;
    }

    #duquesneTour td{
        width:400px;
    }

    #accordion{
        width:80%;
        margin-left:7em;
    }

    #nav-wrapper img{
        padding-top:40px;
        margin-left:3em;
    }

    /* #navbar-logo{
        margin-left:3.5em;
    } */

    #nav-mobile{
        display:grid;
        grid-template-columns: repeat(5, auto);
        list-style:none;
        text-align:center;
        width:40%;
        /* justify-self:end; */
        margin-right:3em;
        margin-top:-13em;
    }
}

/*
    Desktop width : 1550px ~
*/
@media screen and (min-width: 1600px){
    .card{
        width:80%;
        margin-left:8em;
    }


    .container{
        width: 70% !important;
        float: left;
        width: 70%;
        margin: 0;
        padding: 3em 6em 3em 6em;
        /* border-right: 1px dotted #ccc; */
    }

    #sidebar-height-adjust{
        height:800px;
    }

    #sidebar {
        color: #000000;
        float: left;
        padding: 2em 4em 4em 4em;
        margin-left:-4em;
        font-size: .875em;	
        border-left: 1px dotted #ccc;
    }

    #duquesneTour{
        width: 80%;
        padding: 1em 0 1em 0;
        border-spacing: 0px;
        margin-left:7em;
    }

    #duquesneTour td{
        width:400px;
    }

    #accordion{
        width:80%;
        margin-left:7em;
    }

    #nav-wrapper img{
        padding-top:40px;
        margin-left:15em;
    }

    /* #navbar-logo{
        margin-left:6.5em;
    } */

    #nav-mobile{
        display:grid;
        grid-template-columns: repeat(5, auto);
        list-style:none;
        text-align:center;
        width:30%;
        /* justify-self:end; */
        margin-right:10em;
        margin-top:-13em;
    }
}